<div id="<%= dom_id comment %>">
  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Promise:</strong>
    <%= comment.promise_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= comment.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= comment.updated_at %>
  </p>

</div>
