<div id="<%= dom_id action %>">
  <p>
    <strong>Promise:</strong>
    <%= action.promise_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= action.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= action.date %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= action.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= action.updated_at %>
  </p>

</div>
