<div id="<%= dom_id politician %>">
  <p>
    <strong>Name:</strong>
    <%= politician.name %>
  </p>

  <p>
    <strong>Party:</strong>
    <%= politician.party %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= politician.position %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= politician.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= politician.updated_at %>
  </p>

</div>
