<%= form_with url: politicians_path, method: :get, local: true do %>
  <%= label_tag :search, "Search Politicians" %>
  <%= text_field_tag :search, params[:search] %>

  <%= label_tag :position, "Filter by Position" %>
  <%= select_tag :position, options_for_select(["President", "Senator"], params[:position]), include_blank: true %>

  <%= label_tag :party, "Filter by Party" %>
  <%= select_tag :party, options_for_select(Politician.distinct.pluck(:party), params[:party]), include_blank: true %>

  <%= submit_tag "Search" %>
<% end %>

<% @politicians.each do |politician| %>
  <p><%= politician.full_title %></p>
<% end %>
