<div id="<%= dom_id promise %>">
  <p>
    <strong>Title:</strong>
    <%= promise.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= promise.description %>
  </p>

  <p>
    <strong>Politician:</strong>
    <%= promise.politician_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= promise.status %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= promise.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= promise.updated_at %>
  </p>

</div>
