<%= form_with url: promises_path, method: :get, local: true do %>
  <%= label_tag :search, "Search Promises" %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by title or description" %>

  <%= label_tag :status, "Filter by Status" %>
  <%= select_tag :status, options_for_select(["pending", "in_progress", "fulfilled", "failed"], params[:status]), include_blank: true %>

  <%= submit_tag "Search" %>
<% end %>

<% @promises.each do |promise| %>
  <p>
    <strong>Title:</strong> <%= promise.title %><br>
    <strong>Description:</strong> <%= promise.description %><br>
    <strong>Status:</strong> <%= promise.status %>
  </p>
<% end %>

  <%= link_to "Toutes les promesses", promises_path %>
